{% extends 'landing/base.html' %}

{% block title %}Tentang Kami{% endblock %}
{% block bodyclass %}{% endblock %}
{% block navbarhome %}{% endblock %}
{% block ispage %}<div class="page">{% endblock %}
{% block content %}
<div class="page-body">
    <div class="container-xl">
        <div class="card card-lg">
            <div class="card-body ">
                <div class="row g-4">
                    <div class="col-12 markdown">
                        <h1>NusaPuzzle</h1>
                        <p>NusaPuzzle adalah tempat membuat dan bermain teka-teki silang aksara Nusantara. Platform ini dibuat untuk membantu para guru dan pegiat aksara, mengenalkan sekaligus melatih kemampuan beraksara para murid atau masyarakat umum.</p>
                        <p>NusaPuzzle tidak disponsori oleh pihak manapun. Kode sumber dari platform ini juga tersedia di github, sehingga siapa saja bisa men-deploy sendiri di server atau komputer masing-masing. Kode sumber platform ini bersifat terbuka, sehingga siapa saja bisa berkontribusi untuk mengembangkan, maupun menggunakan platform ini untuk hal yang lain, termasuk kegiatan komersial.</p>
                        <p>NusaPuzzle dibuat oleh <a href="https://lantip.xyz" target="_blank">lantip</a> yang memiliki laman github di <a href="https://github.com/lantip" target="_blank">sini</a>. Dalam proses, pembuatan tampak muka platform ini dibantu oleh mas <a href="https://x.com/cunkmusk" target="_blank">CunkMusk</a> dan pakdhe <a href="https://x.com/jauhari" target="_blank">Jauhari</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block isendpage %}</div>{% endblock %}